<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/public/style.css">
    <title>Document</title>
    
</head>
<body>
<header> 
    <img class="topImg" src="/public/images/2.png" alt="image of detective">    
    <nav>
        <nav>
            <ul>
                <li> <a href="/views/about.html"> About </a> </li>
                <li> <a href="/views/about.html"> Works </a> </li>
                <li> <a href="/views/gallery.html"> Gallery </a> </li>
            </ul>
    
        </nav>
    </header>
 
   
    <section>
        <h1> About </h1>
        <div> Fletcher lives at 698 Candlewood Lane in the town of Cabot Cove, Maine, 03041. Cabot Cove is a town of
            3,560 inhabitants near the ocean. Based on the number of murders that occur in a given season of the series,
            the town seems to have probably one of the highest murder rates of any town or city. This has even been
            remarked on in the series by the town sheriff, Mort Metzger (Ron Masak), who notes that in his first year in
            Cabot Cove, he had to deal with five murders.

            Along with being a fiction author, Fletcher has other occupations during the series. It is mentioned that
            she was a substitute English teacher while raising Grady. After the sudden death of a congressman for Maine,
            she is asked to temporarily assume the position as congresswoman until another politician can step in; she
            also teaches a creative writing class at a women's prison at one time. In the eighth-season premiere,
            Jessica accepts a job as a criminology instructor at Manhattan University. During this time, she keeps an
            apartment in Manhattan at the Penfield House Apartments, located at 941 West 61st Street. On the weekends,
            she still regularly returns to Cabot Cove.
        </div>
    </section>
    <footer>
        <ul>
            <li> <a href="/views/about.html"> Privacy Policy </a> </li>
            <li> <a href="/views/about.html"> Disclaimers </a> </li>
            <li> <a href="/views/about.html"> Cookies </a> </li>
        </ul>
        <span id="copyr"> © 2013-2023 JessicaFletcher Inc. All rights reserved</span>
    </footer>


</body>

</html>