<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/public/style.css">
</head>
<body>
<header> 
    <img class="topImg" src="/public/images/angela-lansbury-como-jessica-fletcher-escrito-crimen_98.webp" alt="image of detective"> 
    <nav>
        <ul>
            <li> <a href="/views/home.html"> Home </a> </li> 
            <li> <a href="/views/works.html"> Works </a> </li> 
            <li> <a href="/views/about.html"> About </a> </li>
           
        </ul>

    </nav>
</header>


<section>
    <h1> Gallery </h1>
    <div> 
        <ul>
           
<section>
    <article> <img src="/public/images/galleryImg/msw-skullcovers1-4.webp" alt="book-cover"> </article>   
    <article> <img src="/public/images/galleryImg/msw-skullcovers13-16.webp" alt="book-cover"> </article>  
    <article> <img src="/public/images/galleryImg/msw-skullcovers17-20.webp" alt="book-cover"> </article>  
    <article> <img src="/public/images/galleryImg/msw-skullcovers21-24-4.webp" alt="book-cover"> </article>    
    <article> <img src="/public/images/galleryImg/msw-skullcovers25-28.webp" alt="book-cover"> </article>    

    
    </section>
      </div>
</section>
<footer>
    <ul>
        <li> <a href="/views/about.html"> Privacy Policy </a> </li>
        <li> <a href="/views/about.html"> Disclaimers </a> </li>
        <li> <a href="/views/about.html"> Cookies </a> </li>
    </ul>
    <span id="copyr"> © 2013-2023 JessicaFletcher Inc. All rights reserved</span>
</footer>


</body>

</html>