<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="/public/style.css">


</head>

<body>
    <header>
        <img class="topImg" src="/public/images/3.jpg" alt="image of detective">
        <nav>
            <ul>
                <li> <a href="/views/about.html"> About </a> </li>
                <li> <a href="/views/works.html"> Works </a> </li>
                <li> <a href="/views/gallery.html"> Gallery </a> </li>
            </ul>

        </nav>
    </header>


    <section>
        <h1> Jessica Fletcher <span> Murder She Wrote</span></h1>
        <div> Jessica Beatrice "J. B." Fletcher (born Jessica Beatrice MacGill) is an amateur detective and writer and
            the main character and protagonist of the American television series Murder, She Wrote. Portrayed by
            award-winning actress Angela Lansbury, Fletcher is a best-selling author of mystery novels, an English
            teacher, amateur detective, criminology professor, and congresswoman. In 2004, Fletcher was listed in
            Bravo's "100 Greatest TV Characters". AOL named her one of the "100 Most Memorable Female TV
            Characters". The same website listed her among "TV's Smartest Detectives". She was ranked at number
            six on Sleuth Channel's poll of "America's Top Sleuths". Guinness World Records called her the "most
            prolific amateur sleuth".
        </div>
    </section>
    <footer>
        <ul>
            <li> <a href="/views/about.html"> Privacy Policy </a> </li>
            <li> <a href="/views/about.html"> Disclaimers </a> </li>
            <li> <a href="/views/about.html"> Cookies </a> </li>
        </ul>
        <span id="copyr"> © 2013-2023 JessicaFletcher Inc. All rights reserved</span>
    </footer>


</body>

</html>