<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/public/style.css">
</head>
<body>
<header> 
    <img class="topImg" src="/public/images/1.gif" alt="image of detective">    
    <nav>
        <ul>
            <li> <a href="/views/home.html"> Home </a> </li>
            <li> <a href="/views/about.html"> About </a> </li>
            <li> <a href="/views/gallery.html"> Gallery </a> </li>
        </ul>

    </nav>
</header>


<section>
    <h1> Works </h1>
    <div> 
        <ul>
            <li>The Corpse Danced at Midnight</li>
            <li>Dirge for a Dead Dachshund</li>
            <li>A Faded Rose Beside Her</li>
            <li>Murder on the Amazon</li>
            <li>Lover's Revenge</li>
            <li>The Umbrella Murders</li>
            <li>Murder at the Inn</li>
            <li>Murder at the Digs</li>
            <li>Murder in a Minor Key</li>
            <li>The Stain on the Stairs</li>
            <li>The Mystery of the Mutilated Minion</li>
            <li>The Belgrade Murders</li>
            <li>Sanitarium of Death</li>
            <li>Calvin Canterbury's Revenge</li>
            <li>Murder at the Asylum</li>
            <li>Murder Comes to Maine</li>
            <li>Good-bye, Charlie</li>
            <li>The Corpse That Wasn't There</li>
            <li>Ashes, Ashes, Fall Down Dead</li>
            <li>The Messengers of Midnight</li>
            <li>The Poison in My Heart</li>
            <li>All the Murderers</li>
            <li>Murder at the Ridge Top</li>
            <li>The Corpse at Vespers</li>
            <li>The Triple Crown Murders</li>
            <li>The Crypt of Death</li>
            <li>A Killing at Hastings Rock</li>
            <li>The Uncaught</li>
            <li>Murder in White</li>
            <li>The Dead Must Sing</li>
            <li>The Killer Called Collect</li>
            <li>Stone Cold Dead On Wall Street</li>
            <li>Endangered</li>
            <li>The Launch Pad Murders</li>
            <li>Runway to Murder</li>
            <li>The Venomous Valentine</li>
            <li>A Case and a Half of Murder</li>
            <li>Yours Truly, Damian Sinclair</li>
            <li>The Dead Man Sang</li>
            <li>The Corpse Swam by Moonlight</li>
            <li>The Zero Aspect</li>
            <li>Murder at Midnight</li>
            </ul>
      </div>
</section>
<footer>
    <ul>
        <li> <a href="/views/about.html"> Privacy Policy </a> </li>
        <li> <a href="/views/about.html"> Disclaimers </a> </li>
        <li> <a href="/views/about.html"> Cookies </a> </li>
    </ul>
    <span id="copyr"> © 2013-2023 JessicaFletcher Inc. All rights reserved</span>
</footer>


</body>

</html>